* {
    box-sizing: border-box;
}
.btn{
    margin-left: 10px;
}
body {
    font-size: 18px;
    line-height: 27px;
    background-color: #ccc;
}
img{
    height: 200px;
    width:200px;
}
.wrapper {
    width: 1024px;
    margin: 40px auto;
}
#main-content{
    width: 500px;
    padding: 30px;
}
#main-content {
    float: left;
    background: #fff;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: small;
}
@media screen and (max-width: 768px) {
    body {
    background-color: #333;
    }
    .wrapper {
    width: 600px;
    }
}
@media screen and (max-width: 640px) {
	body {
		background-color: #333;
	}
	.wrapper {
		width: 600px;
	}
}